.cards__like-button {
  padding: 0;
  margin: 0;
  width: 22px;
  height: 19px;
  background: transparent url(../../../images/like-ikon.svg) center no-repeat;
  cursor: pointer;
  border: none;
  transition: opacity .5s ease-in;
}

.cards__like-button:hover {
  opacity: .5;
}