.popup__subtitle_reg-result {
  width: 358px;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: rgba(0, 0, 0, 1);
  margin: 0 auto 60px;
  padding: 0;
  margin-bottom: 60px;
  white-space: initial;
  overflow: initial;
  position: initial;
}

@media screen and (max-width: 531px) {
  .popup__subtitle_reg-result {
    max-width: 244px;
    font-size: 20px;
    line-height: 24px;
  }
}